# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Datos generados localmente (Delta lake, checkpoints)
/content/
lake/
*.parquet
checkpoints/

# OS / editores
.DS_Store
.vscode/
.idea/

# Privado - no se sube al repo (mala imagen ante recruiters)
private/

logs/

docs/